@model ClinicaVeterinaria.Models.AnimaliRicoverati

@{
    ViewBag.Title = "Delete";
}

<div>

    <hr />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <img style="width:400px;" src="~/Content/ImgProgetto/@Model.Foto" />
            </div>
            <div class="col-md-6">
                <h3 class="text-danger fw-bold text-decoration-underline">Sei sicuro di voler eliminare questi dati?</h3>
                <hr />
                <p>Nome animale: <strong>@Model.Nome</strong></p>
                <p>Tipologia: <strong>@Model.Tipologia1.Nome</strong></p>
                <p>Data di nascita: <strong>@string.Format("{0:d}", @Model.DataNascita)</strong></p>
                <p>Data di ricovero: <strong>@string.Format("{0:d}", @Model.DataInizioRicovero)</strong></p>
                <p>Canile comunale: <strong>@Model.IsComune</strong></p>
                <p>Numero microchip: <strong>@Model.NumeroMicrochip</strong></p>
                <p>Colore mantello: <strong>@Model.ColoreMantello</strong></p>
                <p>Nome proprietario: <strong>@Model.NomeProprietario</strong></p>
                <p>Cognome proprietario: <strong>@Model.CognomeProprietario</strong></p>
                <p>Data di registrazione: <strong>@string.Format("{0:d}", @Model.DataRegistrazione)</strong></p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Elimina" class="btn btn-danger" /> |
                        @Html.ActionLink("Indietro", "Index", "", new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>