@using ClinicaVeterinaria.Models
@model List<AnimaliRicoverati>

@{
    ViewBag.Title = "Index";
}




<!--Main layout-->
<main class="my-5">
    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5 text-primary"><strong>Animali anagrafati</strong></h4>
            <div class="row">
                <p class="text-center">
                    @Html.ActionLink("Registra nuovo animale", "Create")
                </p>
                @foreach (var a in Model)
                {
                    <div class="col-lg-4 col-md-12 mb-4 ">
                        <div class="card h-100 d-flex flex-column justify-content-between">
                            <div class="bg-image hover-overlay ripple"  data-mdb-ripple-color="light">
                                <img src="~/Content/ImgProgetto/@a.Foto" class="img-fluid"  />
                                
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Nome: <strong>@a.Nome</strong></h3>
                                <p>Tipologia: <strong>@a.Tipologia1.Nome</strong></p>
                                <p>Microchip: <strong>@a.NumeroMicrochip</strong></p>
                                <p class="card-text">Data ricovero: @string.Format("{0:d}", @a.DataInizioRicovero)</p>
                                @*<a href="/Home/Details" class="btn btn-danger">Dettagli</a>*@
                                <a href="@Url.Action("Details", new { id = a.IdAnimali })" class="btn btn-primary">Dettagli</a>
                                <a href="@Url.Action("Edit", new { id = a.IdAnimali })" class="btn btn-primary">Modifica</a>
                                <a href="@Url.Action("Delete", new { id = a.IdAnimali })" class="btn btn-primary">Elimina</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            

        </section>
        <!--Section: Content-->
        <!-- Pagination -->
    </div>
</main>
<!--Main layout-->
