@using ClinicaVeterinaria.Models
@model List<AnimaliRicoverati>

@{
    ViewBag.Title = "Index";
}




<!--Main layout-->
<main class="my-5">
    <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <h4 class="mb-5 text-primary"><strong>Animali anagrafati</strong></h4>
            <div class="row">
                @foreach (var a in Model)
                {
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="~/Content/ImgProgetto/@a.Foto" class="img-fluid" />
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Nome:@a.Nome</h5>
                                <p class="card-text">Data ricovero: @string.Format("{0:d}",@a.DataInizioRicovero)</p>
                                @*<a href="/Home/Details" class="btn btn-danger">Dettagli</a>*@
                                <a href="@Url.Action("Details", new { id = a.IdAnimali })" class="btn btn-primary">Dettagli</a>
                                <a href="@Url.Action("Edit", new { id = a.IdAnimali })" class="btn btn-primary">Modifica</a>
                                <a href="@Url.Action("Delete", new { id = a.IdAnimali })" class="btn btn-primary">Elimina</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <p class="text-center">
                @Html.ActionLink("Registra nuovo animale", "Create")
            </p>

        </section>
        <!--Section: Content-->
        <!-- Pagination -->
    </div>
</main>
<!--Main layout-->
