@model ClinicaVeterinaria.Models.AnimaliRicoverati


<div class="d-flex flex-column text-center  ">

    <div class="row">
        <div class="col-lg-5 col-md-12 mb-4 rounded-3 bg-info border border-info mt-4">
            <div class="card">
                <h2 class="text-center">Dettagli</h2>
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    @if (Session["Foto"] == null)
                    {
                        <img src="https://www.comune.marzabotto.bo.it/servizi/funzioni/download.aspx?id=4148&idc=2764" class="img-fluid" />
                    }
                    else
                    {
                        <img src="@Html.DisplayFor(model => model.Foto)" class="img-fluid" />

                    }

                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Nome)</h5>
                    <div class="card-text">
                        <p><strong>Nome proprietario:</strong> @Html.DisplayFor(model => model.NomeProprietario)</p>
                        <p><strong>Cognome proprietario:</strong> @Html.DisplayFor(model => model.CognomeProprietario)</p>
                        <p><strong>Data di nascita:</strong>@string.Format("{0:d}", @Html.DisplayFor(model => model.DataNascita))</p>
                        <p><strong>Colore del pelo:</strong> @Html.DisplayFor(model => model.ColoreMantello)</p>
                        <p><strong>Tipologia:</strong> @ViewBag.Nome</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>