@model IEnumerable<ClinicaVeterinaria.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ditte.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdottiUsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cassetto_Prodotti)
        </th>
        <th>Gestione</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ditte.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @foreach (ClinicaVeterinaria.Models.ProdottiUsi usi in item.ProdottiUsi)
            {
                <p>@usi.UsiDisponibili.Descrizione</p>
            }
        </td>
        <td>
            @foreach (ClinicaVeterinaria.Models.Cassetto_Prodotti cassetto in item.Cassetto_Prodotti)
            {
                <p>Armadietto Codice: @cassetto.Cassetti.Armadietti.CodiceArmadietto</p>
                <p>ID Cassetto: @cassetto.Cassetti.IdCassetto</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdProdotto }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdProdotto }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdProdotto })
        </td>
    </tr>
}

</table>
