@model IEnumerable<ClinicaVeterinaria.Models.Tipologia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Modifica", "Edit", new { id=item.IdTipologia }) |
            @Html.ActionLink("Dettagli", "Details", new { id=item.IdTipologia }) |
            @Html.ActionLink("Elimina", "Delete", new { id=item.IdTipologia })
        </td>
    </tr>
}

</table>
