@model ClinicaVeterinaria.Models.ProdottiUsi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdottiUsi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prodotti.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prodotti.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsiDisponibili.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsiDisponibili.Descrizione)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProdottiUsi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
