@model ClinicaVeterinaria.Models.Cassetto_Prodotti

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cassetto_Prodotti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cassetti.IdCassetto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cassetti.IdCassetto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prodotti.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prodotti.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCassettoProdotti }) |
    @Html.ActionLink("Back to List", "Index")
</p>
