@model ClinicaVeterinaria.Models.Carrello
@{
    ViewBag.Title = "CreaCarrello";
}

<h2>Aggiungi un prodotto</h2>
<div class="row row-cols-2">
    <div class="col">

        @using (Html.BeginForm("CreaCarrello", "Carrello", FormMethod.Post, new { id = "FormCarrello" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.IdProduct, "Prodotto", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("IdProduct", new SelectList(ViewBag.prodotti, "Value", "Text"), new { htmlAttributes = new { @class = "form-control", type = "time", step = "2" } })
                        @Html.ValidationMessageFor(model => model.IdProduct, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.qta, "Quantità", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.qta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.qta, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" form="FormCarrello" value="Aggiungi al carrello" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    @*<div class="col">
            @{
                Html.RenderAction("MostraCarrello");
            }
        </div>*@
</div>